.booking-form-body {
    text-align: center;
}
.booking-form {
    display: inline-block;
    border: 2em black;
}

/* #booking {
    display:flex;
    align-content: center;
    width: 50%;
    margin: auto;
} */

/* .mb-3 {
    align-content: center;
    margin-left: 50%;
} */